html, body{
    height: 100%;
}

body{
    /*background: url('../images/quake.jpg');
    background-position: center bottom;
    background-size: 300px;*/
    background: linear-gradient(180deg, #c3d5db, #7d9faa, #8c8d8d);
    background-size: 600% 1000%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:94% 0%}
        50%{background-position:7% 100%}
        100%{background-position:94% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:94% 0%}
        50%{background-position:7% 100%}
        100%{background-position:94% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:94% 0%}
        50%{background-position:7% 100%}
        100%{background-position:94% 0%}
    }
}

#contentwrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -30px;
}

.container{
  width: 100%;
}

/* Bootstrap fix
Ref: http://stackoverflow.com/questions/19432787/bootstrap-3-0-0-adding-extra-space-on-row-class
*/
.row {
  margin-left: auto !important;
  margin-right: auto !important;
}

.center{
  text-align: center;
}

.top-banner{
    background-color: rgba(195,213,219,0.5);
    height: 120px;
    padding: 0;
}

.pull-up{
    margin-top: -50px;
}

.headerrow{
    padding: 5px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #fff;
    border-top: none;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    color: #fff;
}

#roomId{
    padding: 0 10px;
    font-size: 1.5em;
    font-weight: bold;
    border-right: 2px solid #fff;
}

.section{
    position: relative;
    display:inline-block;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
    border-bottom: 5px solid #e7e7e7;
}

/*Modal expand padding fix*/
.modal.in{
    padding: 0 !important;
}

.section-modal-dialog{
    margin: 0;
    margin-top: 15%;
}

.section-modal-content{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-bottom: 5px solid #e7e7e7;
    border-radius: 0;
}

@media (min-width: 768px){
    .section-modal-dialog{
        width: 100%;
    }
}

.section.questionbody{
    min-height: 120px;
}

/*Ref: http://callmenick.com/post/css-folded-corner-effect*/
.section.questionbody:before {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    content: "";
    border-top: solid 15px transparent;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 15px transparent;
}

.section.questionbody:last-child{
  margin-bottom: 50px;
}

.section .title{
  font-size: 2em;
  color: #c3d5db;
}

.section.questionbody.qnew:before{
    border-top: solid 17px #c3d5db;
    border-left: solid 17px #c3d5db;
}

.section.questionbody.qalert:before{
    border-top: solid 17px #ff8a74;
    border-left: solid 17px #ff8a74;
}

.section.questionbody.qreply:before{
    border-top: solid 17px #bbb;
    border-left: solid 17px #bbb;
}

input:focus{
    outline: 0;
}

.q-input{
    margin: 2px;
    margin-left: 30px;
    padding-left: 10px;
    background: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 2em;
    color: #999;
    width: 97%
}

.q-input:focus{
    background-color: #e7e7e7;
}

.rseparator{
    border-right: 2px solid #999;
}

.r-input{
    margin: 2px;
    background: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #999;
}

.r-input:focus{
    background-color: #e7e7e7;
    box-shadow: none;
}

.send-button{
    height: 45px;
    cursor:pointer;
}

.send-button:hover{
  background-color: #e7e7e7;
  border-left: 2px solid #999;
}

.send-button:hover .icon {
    color: #666;
    cursor: pointer;
}

.send-button .icon{
	display:block;
	padding:5px;
    font-size: 2em;
    text-align:center;
}

.send-button.r-button{
    height: 50px;
}

.send-button.r-button .icon{
    font-size: 1.5em;
    margin-top: 2px;
}

.send-button.r-button .icon i{
    margin-top: 10px;
}

.replyForm .row div{
    padding: 0;
}

.icon{
  color: #999;
  font-size: 1.5em;
}

.icon:hover{
  color: #666;
  cursor: pointer;
}

.icon-inputbox{
    position: absolute;
    padding-top: 10px;
}

/*Sung's CSS -start*/
.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}


.icon{display: inline-block;}
.icon,
.icon + span{vertical-align: middle;}

.icon.facebook{
  background: url(../img/icon-facebook.png) no-repeat 0 0;
  height: 29px;
  width: 38px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


#toTop{
	position: fixed;
	bottom: 95px;
	right: 40px;
	cursor: pointer;
	display: none;
}
#toTop .fa {margin-right: 5px;}
/*Sung's CSS -end*/

.time{
    display: inline;
    color: #aaa;
    margin-left: 5px;
    font-weight: normal;
    font-size: 0.8em;
    font-style: italic;
}

.footer{
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    margin: 0 15px;
    bottom: 0;
    height: 30px;
    padding-top: 5px;
    border: 1px solid #fff;
    border-bottom: none;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.push{
    height: 270px;
}

@media (max-width: 767px) {
        .footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

.footer a{
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}

/*.subscribe-yellow{
  color: #7d9faa;
}*/

.progress{
    position: absolute;
    width: 100%;
    border-radius: 0;
    margin-left: -15px;
    bottom: -24.5px;
    height: 5px;
}

.tag{
    display: inline-block;
    background-color: #c3d5db;
    margin: 2px 4px;
    padding: 2px 4px;
    border-radius: 0;
    color: #fff;
}

.tag:hover{
    background-color: #6495a4;
    color: #fff;
}

.inlinetag{
    background-color: #f3f3f3;
    border-bottom: 2px solid #e0e0e0;
}

.inlinetag:hover{
    cursor: pointer;
    background-color: #e0e0e0;
    color: #6495a4;
    border-bottom: 2px solid #6495a4;
}

#tagsearchbar{
    padding: 2px 5px;
    background-color: #ddd;
    border-radius: 2px;
}

.section .contentbox{
    width: 94%;
}

.question-title, .question-content{
    margin: 0;
    word-wrap: break-word;
}

.question-title{
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2em;
}

.votebox{
    position: absolute;
    text-align: center;
    right: 15px;
    top: 33.333333%;
    height: 100%;
    margin-top: -5px;
}

.updownvote{
    display: block;
    overflow: hidden;
    cursor: pointer;
    color: #999;
    font-size: 1.5em;
}

.updownvote[disabled] {
	opacity:.5;
	pointer-events:none;
}

.updownvote:hover{
    color: #666;
}

.rating{
  display: block;
}

.reply-counter{
    position: absolute;
    top: 1px;
    left: 2px;
    color: #fff;
    font-size: 0.65em;
    text-align: center;
    height: 18px;
}

.admintools{
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    background-color: #eee;
    color: #999;
    font-size: 0.8em;
}

#home-btn{
    margin: 5px;
}

#home-btn img{
    height: 50px;
    width: 50px;
}

.replyexpand{
    position: absolute;
    display: block;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    font-size: 0.5em;
}

.replyexpand:hover{
    cursor: pointer;
    background-color: #ddd;
}

.thread{
    position: relative;
    background: #f3f3f3;
    min-height: 110px;
    overflow: auto;
    padding: 10px 2px;
    margin-bottom: 10px;
}

.thread .profile{
    text-align: center;
    border-right: 1px solid #d7d7d7;
    min-width: 80px;
}

.thread .votebox{
    max-height: 70px;
}

.thread .r-admintools{
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    background-color: #eee;
    color: #999;
    font-size: 0.8em;
}

.thread.nestIndent0{
    margin-left: 0;
}

.thread.nestIndent1{
    margin-left: 10%;
}

.thread.nestIndent2{
    margin-left: 20%;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    /*width: 100%;*/
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
    z-index:50 !important;
}

textarea #new-todo {
    width:100%;
}

.ng-isolate-scope{
    width:100%;
}

.ng-isolate-scope::before{
    box-sizing: content-box;
}

.imgPreview{
    width:100%;
    margin-top:10px;
    z-index:1 !important;
}