html, body{
    height: 100%;
}

body{
    /*background: url('../images/quake.jpg');
    background-position: center bottom;
    background-size: 300px;*/
    background: linear-gradient(180deg, #c3d5db, #7d9faa, #8c8d8d);
    background-size: 600% 1000%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:94% 0%}
        50%{background-position:7% 100%}
        100%{background-position:94% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:94% 0%}
        50%{background-position:7% 100%}
        100%{background-position:94% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:94% 0%}
        50%{background-position:7% 100%}
        100%{background-position:94% 0%}
    }
}

#contentwrap {
    min-height: 100%;
	max-width:1200px;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -30px;
}

/* Bootstrap fix
Ref: http://stackoverflow.com/questions/19432787/bootstrap-3-0-0-adding-extra-space-on-row-class
*/
.row {
  margin-left: auto !important;
  margin-right: auto !important;
}
.row > div {
	padding-left:5px;
	padding-right:5px;
}

.center{
  text-align: center;
}

/* top bar start */
.top-bar {
	list-style:none;
    height:50px;
	padding:0;
	margin:0;
	margin-bottom:10px;
}
.top-bar li {
	float:left;
	list-style:none;
	padding:0 10px;
}
.top-bar li.name {
	background:url(../images/logo2.png) 6px 8px no-repeat;
	background-size:34px 34px;
	padding-left:52px;
	line-height:50px;
}
.top-bar li.name > span {
	font-size:22px;
	padding-right:6px;
	color:#FFF;
	text-shadow:0 1px 1px rgba(0,0,0,.3);
}
.top-bar li.name .glyphicon {
	cursor:pointer;
}
.top-bar li.right {
	float:right;
}
.top-bar li > a {
	color:rgba(255,255,255,.6);
}
.top-bar li a:hover {
	color:rgba(255,255,255,.9);
	text-decoration:none;
}
.top-bar li a:first-child {
	display:block;
	line-height:50px;
	font-size:16px;
}

.top-bar-background {
	position:absolute;
	width:100%;
	height:50px;
	background:linear-gradient(to bottom, #a4bbc1 20%, #92acb3 100%);
	border-bottom:1px solid rgba(255,255,255,.6);
	z-index:-1;
}

/* top bar end */

.headerrow{
    padding: 5px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #fff;
    border-top: none;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    color: #fff;
}

#roomId{
    padding: 0 10px;
    font-size: 1.5em;
    font-weight: bold;
    border-right: 2px solid #fff;
}

.section{
	clear:both;
    position:relative;
	margin-bottom:10px;
    padding:15px;
    background:#fff;
	border-radius:4px;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	overflow:hidden;
}
/*Settings*/
.btn-group{
    border: 1px solid #ddd;
}

.btn-group .btn{
    background-image: none;
    background-color: #eee;
    color: #999;
    border: none;
    border-radius: 0;
}

.section-modal-dialog{
	max-width:1200px;
    margin:0 auto;
}

.section-modal-content{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 0;
}

@media (min-width: 768px){
    .section-modal-dialog{
        width: 100%;
    }
}

.section.questionbody{
    min-height: 120px;
}

/*Ref: http://callmenick.com/post/css-folded-corner-effect*/
.section.questionbody:before {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    content: "";
    border-top: solid 15px transparent;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 15px transparent;
}

.section .title{
	font-size:22px;
	color:#92acb3;
}

/* composer start */

#emojibtn {
	position:relative !important;
	top:2px;
	right:0;
}

.composer [contenteditable] {
	outline:none;
	font-size:24px;
	color:#666;
}

.composer .buttons {
	height:30px;
	margin:0 -8px;
	margin-top:5px;
}
.composer .buttons li {
	float:left;
	font-size:20px;
	line-height:30px;
	color:#AAA;
	cursor:pointer;
	transition:color 0.1s;
	padding:0 8px;
}
.composer .buttons li:hover {
	color:#666;
}
.composer .buttons li.right {
	float:right;
}
.composer .buttons li span {
	vertical-align:middle;
}
.composer .buttons li span.text {
	position:relative;
	font-size:20px;
	padding-left:10px;
	top:2px;
}

.composer .preview {
	position:relative;
	clear:both;
	text-align:center;
	margin:0 -5px;
	margin-top:15px;
	background:#fafafa;
	border:1px solid #CCC;
	border-radius:5px;
	overflow:hidden;
	user-select:none;
	-webkit-user-select:none;
}
.composer .preview > span {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	padding:2px 6px;
	box-shadow:inset 0 2px 3px -2px rgba(0,0,0,.2);
	border-radius:0 0 5px 0;
	background:#BBB;
	text-shadow:0 1px 0 rgba(0,0,0,.3);
	color:#fafafa;
	cursor:pointer;
	opacity:.9;
	transition:opacity 0.1s;
}
.composer .preview > span:hover {
	opacity:.75;
}
.composer .preview > span .glyphicon {
	margin-right:2px;
	top:2px;
}
.composer .preview img {
	width:auto;
	max-height:180px;
	margin:0;
}

/* composer end */

.section.questionbody.qnew:before{
    border-top: solid 17px #c3d5db;
    border-left: solid 15px #c3d5db;
}

.section.questionbody.qalert:before{
    border-top: solid 17px #ff8a74;
    border-left: solid 17px #ff8a74;
}

.section.questionbody.qreply:before{
    border-top: solid 17px #bbb;
    border-left: solid 17px #bbb;
}

input:focus{
    outline: 0;
}

.r-input{
    margin: 2px;
    background: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #999;
}

.r-input:focus{
    background-color: #e7e7e7;
    box-shadow: none;
}

.send-button{
    height: 40px;
    cursor:pointer;
}

.send-button:hover{
  background-color: #e7e7e7;
}

.send-button:hover .icon {
    color: #666;
    cursor: pointer;
}

.send-button .icon{
	display:block;
	padding:5px;
    height:40px;
    font-size: 2em;
    text-align:center;
}

.send-button.r-button{
    height: 50px;
}

.send-button.r-button .icon{
    font-size: 1.5em;
    margin-top: 2px;
}

.send-button.r-button .icon i{
    margin-top: 10px;
}

.replyForm .row div{
    padding: 0;
}

.icon{
  color: #999;
  font-size: 1.5em;
}

.icon:hover{
  color: #666;
  cursor: pointer;
}

.icon-inputbox{
    position: absolute;
    padding-top: 10px;
}

/*Sung's CSS -start*/
.completed {
	background-color: #d9d9d9;
    color: #888;
}

.pinned {
    background-color: #f5f5d6;
}

.icon{display: inline-block;}
.icon,
.icon + span{vertical-align: middle;}

.icon.facebook{
  background: url(../img/icon-facebook.png) no-repeat 0 0;
  height: 29px;
  width: 38px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


#toTop{
	position: fixed;
	bottom: 95px;
	right: 40px;
	cursor: pointer;
	display: none;
}
#toTop .fa {margin-right: 5px;}
/*Sung's CSS -end*/

.time{
    display: inline;
    color: #aaa;
    margin-left: 5px;
    font-weight: normal;
    font-size: 0.8em;
    font-style: italic;
}

.footer{
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    margin: 0 15px;
    bottom: 0;
    height: 30px;
    padding-top: 5px;
    border: 1px solid #fff;
    border-bottom: none;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.push{
    height: 270px;
}

@media (max-width: 767px) {
        .footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

.footer a{
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}

/*.subscribe-yellow{
  color: #7d9faa;
}*/

.progress{
    position: absolute;
    width: 100%;
    border-radius: 0;
    margin-left: -15px;
    top: -2px;
    height: 5px;
}

.tag{
    display: inline-block;
    background-color: #c3d5db;
    margin: 2px 4px;
    padding: 2px 4px;
    border-radius: 0;
    color: #fff;
}

.tag:hover{
    background-color: #6495a4;
    color: #fff;
}

.inlinetag{
    background-color: #f3f3f3;
    border-bottom: 2px solid #e0e0e0;
}

.inlinetag:hover{
    cursor: pointer;
    background-color: #e0e0e0;
    color: #6495a4;
    border-bottom: 2px solid #6495a4;
}

.section .contentbox{
    width: 94%;
}

.question-title, .question-content{
    margin: 0;
    word-wrap: break-word;
}

.question-title{
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2em;
}

.question-image {
	text-align:center;
	margin-top:10px;
}
.question-image img {
	max-width:100%;
	max-height:150px;
}

.votebox{
    position: absolute;
    text-align: center;
    right: 15px;
    top: 33.333333%;
    height: 100%;
    margin-top: -5px;
}

.updownvote{
    display: block;
    overflow: hidden;
    cursor: pointer;
    color: #999;
    font-size: 1.5em;
}

.updownvote[disabled] {
	opacity:.5;
	pointer-events:none;
}

.updownvote:hover{
    color: #666;
}

.rating{
  display: block;
}

.reply-counter{
    position: absolute;
    top: 1px;
    left: 2px;
    color: #fff;
    font-size: 0.65em;
    text-align: center;
    height: 18px;
}

.admintools{
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    background-color: #eee;
    color: #999;
    font-size: 0.8em;
}

#home-btn{
    margin: 5px;
}

#home-btn img{
    height: 50px;
    width: 50px;
}

.replyexpand{
    position: absolute;
    display: block;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    font-size:16px;
	font-weight:bold;
	line-height:6px;
	height:15px;
	color:#999;
	text-shadow:0 1px 0 #FFF;
}

.replyexpand:hover{
    cursor: pointer;
    background-color: #ddd;
}

.thread{
    position: relative;
    background: #f3f3f3;
    min-height: 110px;
    overflow: auto;
    padding: 10px 2px;
    margin-bottom: 10px;
}

.thread .profile{
    text-align: center;
    border-right: 1px solid #d7d7d7;
    min-width: 80px;
}

.thread .votebox{
    max-height: 70px;
}

.thread .r-admintools{
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    background-color: #eee;
    color: #999;
    font-size: 0.8em;
}

.thread.nestIndent0{
    margin-left: 0;
}

.thread.nestIndent1{
    margin-left: 10%;
}

.thread.nestIndent2{
    margin-left: 20%;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    /*width: 100%;*/
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
    z-index:50 !important;
}

textarea #new-todo {
    width:100%;
}

.ng-isolate-scope{
    width:100%;
}

.ng-isolate-scope::before{
    box-sizing: content-box;
}

.imgPreview{
    width:100%;
    margin-top:10px;
    z-index:1 !important;
}

.locked-msg{
    display: inline;
    background-color: #aaa;
    color: #eee;
    padding: 2px 6px;
    margin-left: 25px;
}

.locked-msg-modal{
    margin-left: 0;
    font-weight: normal;
}

.subscribe-menu{
    position: absolute;
    top: 0;
    right: 68px;
    background-color: #eee;
    padding: 3px;
}

.subscribe-btn{
    background-image: none;
    border: none;
    background-color: #f0ad4c;
    padding: 2px 5px;
    border-radius: 0;
    color: #fff;
}

.subscribe-btn:hover{
    color: #fff;
    background-color: #eb9316;
}

.unsubscribe-btn{
    background-image: none;
    border: none;
    background-color: #aaa;
    padding: 2px 5px;
    border-radius: 0;
    color: #fff;
}

.unsubscribe-btn:hover{
    color: #fff;
    background-color: #666;
}
